.data {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #6e6a8d;
  border-radius: 25px;
}
.data-input {
  padding: 10px 10px;
  font-size: var(--font-size);
  background: var(--c1);
  border: 0px solid #6e6a8d;
  border-radius: 25px;
  color: var(--c4);
  width: 100%;
}
.data .icon {
  color: #6e6a8d;
  padding: 0px 10px;
}

.data:focus-within {
  border-color: var(--c4); /* Change icon color on focus */
  & .icon {
    color: var(--c4);
  }
  & .data-input {
    border: 0px;
    outline: 0;
  }
}
